nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='#slider-section') Home
    li
      a(data-scroll, href='#about-section') About
    li
      a(data-scroll, href='#challenge-section') Challenges
    li
      a(data-scroll, href='#location') Venue
    li
      a(data-scroll, href='#ksum-footer') Contact
    li
      a(data-scroll, href='#') Apply
    