mixin challenge(number, image, title)
  .challenge-item.slide
    .challenge-inner
      .challenge-image
        img(src=image)
        .number= number
      .challenge-details
        h4= title
        block