@import "./mixins";
@import "../../node_modules/slick-carousel/slick/slick.scss";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(8, 31, 21, .4);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    //top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
    h3 {
      font-weight: 300;
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#about-section {
  h3 {
    font-size: 1rem;
    text-align: center;
    // font-weight: 400;
  }
  #countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      padding: 10px;
      width: 131px;
      height: 142px;
      &.days {
        background: url('../img/countdown-day.png');
        background-repeat: no-repeat;
      }
      &.hour {
        background: url('../img/countdown-hour.png');
        background-repeat: no-repeat;
      }
      &.min {
        background: url('../img/countdown-minute.png');
        background-repeat: no-repeat;
      }
      &.sec {
        background: url('../img/countdown-hour.png');
        background-repeat: no-repeat;
      }
      span {
        font-size: .75rem;
      }
    }
  }
}

#challenge-section {
  .challenges {
    width: 100%;
    .challenge-item {
      position: relative;
      width: 100%;
      padding: 20px;
      height: 100%;
      .challenge-inner {
        box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3);
        .challenge-image {
          position: relative;
          img {
            width: 100%;
          }
          .number {
            position: absolute;
            display: block;
            color: #fff;
            background: #ea0763;
            border-radius: 5px;
            bottom: -20px;
            left: 40px;
            padding: 13px 30px;
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 2rem;
          }
        }
        .challenge-details {
          padding: 60px 30px 35px 35px;
          height: 100%;
          min-height: 429px;
          h4 {
            font-size: 1.2rem;
            text-align: justify;
          }
          p {
            text-align: justify;
          }
          li {
            text-align: justify;
          }
        }
      }
    }
  }
}

#partner-section {
  background: url('../img/rubber-plantation.jpg');
  background-color: #f7f7f7;
  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    .partner-item {
      border: 5px solid #fff;
      text-align: center;
      padding: 25px;
      margin: 10px;
      transition: all .3s ease 0s;
      // height: 140px;
      position: relative;
      width: 30%;
      background: #f7f7f780;
      &:hover {
        box-shadow: 0 5px 20px 0 rgba(10, 9, 13, .15);
      }
    }
  }
}

#benefits {
  padding-bottom: 80px;
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    .grid-item {
      flex: 1 1 auto;
      width: 30%;
      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-right: 1px solid rgba(200, 200, 200, .4);
        border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      &:nth-of-type(3) {
        //border-right: 1px solid rgba(200, 200, 200, .4);
        border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      &:nth-of-type(4),
      &:nth-of-type(5) {
        border-right: 1px solid rgba(200, 200, 200, .4);
        //border-bottom: 1px solid rgba(200, 200, 200, .4);
      }
      .grid-content {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        img {
          width: 100px;
        }
        h4 {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  transform: translate(0, -100%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  &:hover {
    opacity: .7;
    outline: none;
    &:before {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
}

.slick-next {
  right: -40px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #ea0763;
}

.slick-prev {
  left: -40px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #ea0763;
}

.title {
  &:after,
  &:before {
    position: absolute;
    content: '';
    left: 50%;
    width: 48px;
    height: 1px;
    background-color: #E91E63;
  }
  &:after {
    margin-left: -45px;
    bottom: 28px;
  }
  &:before {
    margin-left: -30px;
    bottom: 22px;
  }
}

#guidelines {
  p {
    line-height: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}