doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug
    include parts/mixin.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/slider2.jpg")
      .container#info-container
        .row
          .col-sm-12
            h3 18 - 19 April, 2020, The Gateway Hotel, Ernakulam
            h2 National Rubber Challenge 2020

    section.section-content.bg-gray#about-section
      .container
        .row
          .col-sm-6
            h4.color-green National Rubber Challenge 2020
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident minus, beatae ipsam odio facilis, expedita et ea totam autem quasi unde nam aliquam repellendus veniam cupiditate labore! Fugit, alias provident?
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident minus, beatae ipsam odio facilis, expedita et ea totam autem quasi unde nam aliquam repellendus veniam cupiditate labore! Fugit, alias provident?

          .col-sm-6.text-center
            #countdown
            h3.color-red.mt-4 18 - 19 April, 2020, The Gateway Hotel, Ernakulam
            a.button(href="#") Register Now


    section.section-content#challenge-section
      .container
        .row
          .col-sm-12
            h4.text-center.color-green.mb-5.title Problem Statements
          .challenges
            +challenge(1, './img/problem.jpg', "MECHANIZE AND RATIONALIZE THE TASKS OF FARMERS IN THE FIELD")
              p Ideas to solve the problem of labour shortage in farming operations. It includes interventions in the field right from land preparation, planting, intercultural operations, tapping, plant protection, harvesting etc. Interventions can include cultivation technologies or automation/mechanization.
            +challenge(2, './img/problem.jpg', "VALUE ADDITION, DIVERSIFY PRODUCTS AND UTILIZE BY-PRODUCTS")
              ul
                li Innovative, economic, friendly devices/technologies for quick processing of rubber
                li Rubber-based Agri-business development ie developing a chain of value addition stages, each of which can be run as a successful business.
                li Development of new products, processing technologies.
                li Ideas for putting the by-products in rubber sector into effective use 
                  ul
                    li by-products of rubber tree 
                    li by-products of various value addition activities.
            +challenge(3, './img/problem.jpg', "Replacement of chemical pesticides with bio-formulations , with focus on organic solutions")
              p Replacement of the harmful chemicals and residues in soil and also in water stream is the focus of this concept.
              p Organic mixtures or bio-formulations which can control pests and diseases are theme of this concept.

            +challenge(4, './img/problem.jpg', "Innovative use of rubber products in agri/horticultural activities")
              p Replacement of plastic and concrete materials with suitable rubber  products which can be effectively utilized in the planting and water conservation applications.

            +challenge(5, './img/problem.jpg', "Pollution control and recycling strategies in rubber value chain")
              p innovative ideas /protocols for controlling the environmental pollution in the entire value chain of the rubber rubber industry

            +challenge(6, './img/problem.jpg', "Doubling farm-income of  rubber farmers.")
              p New agricultural practices, harvesting technique or ancillary income generation methods are  mainly focused here.


    section#benefits
      .container
        .row
          .col-sm-12
            h4.text-center.color-green.mb-5.title What will Your get?
        .row
          .grid
            .grid-item
              .grid-content
                img.img-fluid(src="./img/prize.png")
                h4 Top 3 teams to get prizes worth Rs 1 lakh
            .grid-item
              .grid-content
                img.img-fluid(src="./img/grant.png")
                h4 Top 10 teams to pitch for Innovation Grant of up to Rs 12 lakh
            .grid-item
              .grid-content
                img.img-fluid(src="./img/fund.png")
                h4 Seed Support of up to Rs 25 lakhs for selected teams
            .grid-item
              .grid-content
                img.img-fluid(src="./img/incubation.png")
                h4 Experience from Networking & Mentoring sessions
            .grid-item
              .grid-content
                img.img-fluid(src="./img/cloud.png")
                h4 Top 10 ideas to get exposure during International Conference
            .grid-item
              .grid-content
                img.img-fluid(src="./img/more.png")
                h4 Opportunity to seek support from Government Agencies


    section.section-content#guidelines
      .container
        .row
          .col-sm-12
            h4.text-center.color-green.mb-5.title CHALLENGE GUIDELINES
          .col-sm-6
            p.text-justify Kerala State Industries Development Corporation (KSIDC), Kerala Startup Mission (KSUM), and State Planning Board are jointly organising a National Rubber Challenge on April 18 and 19, 2020. The event is to be held at The Gateway Hotel, Marine Drive, Ernakulam. The Challenge seeks to foster ideas and innovations in the rubber sector (including farming, marketing, process improvement etc.). The Challenge will be a unique opportunity for innovators, startups, individuals, and students to showcase their idea or prototype in the conference. It will also enable them to get mentoring and funding support from various government agencies to carry their ideas forward.
          .col-sm-6
            h3 Who can apply?
            ul
              li A student , or
              li An innovator, or
              li A startup registered in India.
            h3 Phases of the challenge
            ul
              li Application
              li Shortlisting
              li Top 10 will be given opportunity to pitch during the conference
              li Top 3 to receive cash prize upto Rs 1 lakh.
              li Only innovators/startups from Kerala will be eligible for the idea grant, innovation and seed support scheme

    section.bg-gray.section-content#partner-section
      .container
        .row
          .col-sm-12
            h4.text-center.color-white.mb-5.title Partners
          .partners
            .partner-item
              img.img-fluid(src="./img/logo-01.png")
            .partner-item
              img.img-fluid(src="./img/logo-02.png")
            .partner-item
              img.img-fluid(src="./img/logo-03.png")

    section#location(style="line-height:0")
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.488219823589!2d76.274830314794!3d9.97646919286729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d5383edce73%3A0xe6f2b06867d118ec!2sThe%20Gateway%20Hotel%20Marine%20Drive%2C%20Ernakulam!5e0!3m2!1sen!2sin!4v1582113142104!5m2!1sen!2sin' width='100%' height='450' frameborder='0' style='border:0;' allowfullscreen='')

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
